<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="keyPath" value="C:\\Logs\\key.txt" />
		<add key="newFileLocation" value="D:\\Прогание\\SalesUpdater\\SalesUpdater\\SalesUpdater\\bin\\Debug\\netcoreapp3.1\\SalesUpdater.Files\\AddedFiles\\" />
		<add key="newFailedFileLocation" value="D:\\Прогание\\SalesUpdater\\SalesUpdater\\SalesUpdater\\bin\\Debug\\netcoreapp3.1\\SalesUpdater.Files\\FailedFiles\\" />
		<add key="directoryPath" value="D:\Прогание\SalesUpdater\SalesUpdater\SalesUpdater\bin\Debug\netcoreapp3.1\SalesUpdater.Files" />
		<add key="filesFilter" value="*.csv" />
		<add key="fileNameSplitter" value="_" />
		<add key="clientNameSplitter" value=" " />
		<add key="dateFormat" value="dd.MM.yyyy" />
		<add key="filesPath" value="SalesUpdater.Files" />
		<add key="logsLocation" value="C:\\Logs\\log.txt" />
	</appSettings>
	<connectionStrings>
		<add name="SalesContext" connectionString="data source=DESKTOP-CTDN38H\SQLEXPRESS;initial catalog=SalesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>