@model SalesUpdater.Web.Data.Models.Filters.ProductViewFilterModel

<script src="@Url.Content("~/Scripts/jquery-1.8.0.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

@using (Ajax.BeginForm("Find", "Product", new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "updatedTableWithAjax",
    InsertionMode = InsertionMode.Replace
}))
{
    <div class="input-group">
        <span class="input-group-btn">
            <input class="btn btn-primary" type="submit" value="Search" />
        </span>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
}
